section.pageBlog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10vw;
  background: var(--static_black);
  padding-bottom: calc(var(--indent) * 1);
}

.pageBlog > div:nth-child(2) {
  margin-top: 19vw;
}

.pageBlog_item > img {
  width: 100%;
}

.pageBlog_item {
  margin-top: calc(var(--indent) * 1.5);
}

.pageBlog_item .blog_button {
  margin-bottom: -25px;
}

.pageBlog_item p {
  margin-top: 0;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
